.pomodoro-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 530px;
    min-height: 610px;
    text-align: center;
    margin: 130px auto;
    border-radius: 11px;
    padding-bottom: 31px;
    border: 2px solid #BF1363;
}

.pomodoro-button{
    padding: 15px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    background-color: #BF1363;
    color: #DEEEEA;
    text-transform: capitalize;
    margin: 10px;
}

.modal {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 0 auto;
    z-index: 9;
    background-color:rgba(0,0,0, 0.5);
    width: 100%;
  }
  
  .modal-content {
    padding: 20px;
    border-radius: 5px;
    min-height: 100px;
    width: 300px;
    color: white;
    background-color: #3A3845;
    opacity: 1;
  
  }

  .timer-container{
      color: white;
      font-size: 80px;
      font-family: 'Times New Roman', Times, serif;
  }

  .timer-input {
    padding: 13px 34px 13px 15px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #BF1363;
    outline: none;
    width: 240px;
    background: transparent;
    color: #fff;
  }
  
  .timer-input::placeholder {
    color: #e2e2e2;
  }

  .timer-form {
    margin-bottom: 30px;
  }